@tailwind base;
@tailwind components;
@tailwind utilities;

/* poppins-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Poppins/poppins-v22-latin-regular.woff2') format('woff2');
}
/* poppins-italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/Poppins/poppins-v22-latin-italic.woff2') format('woff2');
}
/* poppins-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Poppins/poppins-v22-latin-700.woff2') format('woff2');
}

body {
	@apply font-sans;
}

h1,
h2,
a {
	@apply text-white;
}

hr {
	@apply my-4;
	@apply border-white;
	@apply h-[1px];
	@apply w-full;
}

@media only screen and (min-width: 768px) {
	/* Custom scroll bar */
	/* width */
	::-webkit-scrollbar {
		width: 15px;
	}

	/* height */
	::-webkit-scrollbar {
		height: 15px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		/*background: #2d2d2d;*/ /* Slightly lighter than bg-gray-900 */
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #1f1f1f; /* Tailwind's bg-gray-600 */
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #1d1d1d; /* Tailwind's bg-gray-500 */
	}
}
